ul > li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
    background-color: #fff;
    font-size: 1.2rem;
}
ul > li:hover {
    background-color: #eee;
}
ul > li > img {

}
ul > li > p {

}
/* .price {
    margin-left: auto;
} */
ul > li > div {
    display: flex;
    gap: 0.5rem;
}
ul > li > div > button {
    padding: 0.5rem;
}